@import '@primer/css/core/index.scss';

.navigationBar {
  display: flex;
  justify-content: space-between;
  padding: 4px;

  &__left {
    display: flex;

    &Logo {
      padding-right: 16px;
    }

    &Links {
      display: none;
      padding-top: 4px;

      @include breakpoint(md) {
        display: flex;
      }
    }
  }

  &_right {
    &Menu {
      padding-top: 4px;
    }
  }
}
