.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  &__left {
    display: flex;

    &Logo {
      padding: 0 16px 0 4px;
    }

    &Links {
      display: none;

      @media (min-width: 768px) {
        display: flex;
      }
    }
  }

  &__right {
    &Menu {
    }
  }
}
