@import '../../../../sass/mixin';

/* stylelint-disable font-family-no-missing-generic-family-keyword */

.title {
  margin-bottom: 10px;
  font-family: BreeSerif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2em;
}

.highlightsLinks {
  @include leftColumnLinks;
}

.navigationBlockLinks {
  &Link {
    padding: 5px;
    color: #116db4;
    font-size: 1em;
    line-height: 1.2em;
  }
}

/* stylelint-enable font-family-no-missing-generic-family-keyword */
