@import '@primer/css/core/index.scss';

.searchBar {
  display: flex;
  flex-wrap: wrap;

  &__searchFieldsetStandard {
    order: 0;
    flex: 1 0 90%;

    @include breakpoint(md) {
      flex: 1 0 35%;
    }
  }

  &__searchFieldsetAdvanced {
    order: 2;
    flex: 1 0 100%;

    @include breakpoint(md) {
      order: 1;
      flex: 1 0 55%;
    }
  }

  &__button {
    order: 1;
    flex: 1 0 10%;

    @include breakpoint(md) {
      order: 2;
      flex: 1 0 10%;
    }
  }

  &__searchFormOptions {
    order: 3;
    flex: 1 0 100%;

    @include breakpoint(md) {
      flex: 1 0 100%;
    }
  }
}
