# MacOS
.DS_Store

# Storybook
.storybook-static

# Test
coverage

# NPM Papillon Ads NL
.npmrc
npm-debug.log
lerna-debug.log
package-lock.json
node_modules

# NPM Papillon Ads NL Client Package
packages/client/package-lock.json
packages/client/build
packages/client/node_modules
packages/client/.env.develop
packages/client/.env.release

# NPM Papillon Ads NL Server Package
packages/server/package-lock.json
packages/server/build
packages/server/node_modules
packages/server/.env
