@import '@primer/css/core/index.scss';

.header {
  width: 100%;

  // instead of mx-auto
  margin-right: auto !important;
  margin-left: auto !important;

  @include breakpoint(lg) {
    width: 90%;
  }

  @include breakpoint(xl) {
    width: 60%;
  }

  &__navigationBar {
  }

  &__searchBar {
  }
}
