@import '@primer/css/core/index.scss';

.header {
  width: 100%;

  @include breakpoint(lg) {
    width: 90%;
  }

  @include breakpoint(xl) {
    width: 60%;
  }

  &__navigationBar {
  }

  &__searchBar {
  }
}
