@import '../../../../sass/mixin.scss';

.dropdown {
  user-select: none;

  &Summary {
    &:focus {
      background-color: #e7f0f7;
      outline: 0 auto;
    }
  }

  &Badge {
    display: flex;
    align-items: center;
    padding: 4px;

    @include headerNavigationBarMenuLabelBadge;
  }

  &SvgIcon1,
  &Label,
  &SvgIcon2 {
    padding: 0 3px;
  }

  &Label,
  &SvgIcon2 {
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }

  &List {
    position: absolute;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    &Item {
      white-space: nowrap;
      padding: 8px 63px 8px 16px;
      color: #116db4;
      border-bottom: 1px solid #e7f0f7;

      &:hover {
        color: #1589e3;
        background-color: #e7f0f7;
        cursor: pointer;
      }
    }
  }
}
