@import '../../../../sass/mixin.scss';

._menu {
  display: flex;
  justify-content: space-between;

  &__messages,
  &__notifications {
    @include headerNavigationBarMenuLabelBadge;

    &Icon {
      padding: 0 8px;
    }
  }

  &__placeAd {
    @include headerNavigationBarMenuButtonBadge;

    &Icon {
      transform: scaleX(-1);
      filter: FlipH;
      color: #fff;
      padding: 0 8px;
    }
  }

  &__messagesLabel,
  &__notificationsLabel,
  &__placeAdButton {
    display: none;
    padding: 0 4px;

    @media (min-width: 992px) {
      display: block;
    }
  }
}
