@import '../../../../sass/mixin.scss';

._menu {
  display: flex;
  justify-content: space-between;

  &__messages,
  &__notifications,
  &__placeAd {
    @include headerNavigationBarMenuLabelBadge;

    &Icon {
      padding: 0 8px 0 12px;
    }
  }

  &__placeAd {
    @include headerNavigationBarMenuButtonBadge;

    &Icon {
      transform: scaleX(-1);
      filter: FlipH;
      color: #fff;
    }

    &Button {
      font-family: BreeSerif;
      font-size: 14px;
      align-self: center;
    }
  }

  &__messagesLabel,
  &__notificationsLabel,
  &__placeAdButton {
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }
}
