@import '@primer/css/core/index.scss';

.links {
  .link {
    color: $blue-600;
    font-size: $h6-size;
    font-weight: $font-weight-light;

    &:hover {
      color: $blue-400;
      cursor: pointer;
    }
  }
}
